.vagrant
data/www/composer.json
data/www/composer.lock
data/www/installer.phar
data/www/vendor
data/www/.acquia
data/www/.drush
data/www/*.sql
.idea
data/www/files
.DS_Store
.env
.project
*dump.sql
*.swp
*dead.letter
www/data/dump.sql
*.sublime-project

*.sublime-workspace
data/www/project
*.pyc
data/www/tmp
.sass-cache

**/stage_file_proxy
*dump2.sql

*dump1.sql
*id_rsa

*id_rsa.pub

drush.dbdumps



data/www/project
